:root {
    --primary-color: #5B25F5;
    --secondary-color: #9792c7;
    --secondary-color-with-opacity: #bab4e21f;
    --background-color: #F5F5FD;
    --background-color-hover: #e5e5ec;
    --text: #9792c7;
    --white: #fff;
    --black: #000;
}

.asid {
    z-index: 40;
    top: 0;
    bottom: 0;
    top: auto;
    bottom: auto;
    width: 18rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
    --bg-opacity: 1;
    background-color: #fff;
    background-color: rgba(255, 255, 255, var(--bg-opacity))
}

#rounded-full-logo {
    height: 2rem;
    width: 2rem;
    margin-right: .75rem;
    border-radius: 9999px;
    background-color: black;
}

#top-head {
    font-family: 'Arial';
    font-size: 1.875rem;
    font-weight: 600;
    font-style: italic
}

#logo-below {
    font-family: 'Arial';
}

.inset-active-link {
    box-shadow: inset 0.25rem 0 0 0 #805ad5;
}


/*HEADER*/
main {
    margin-top: 1em;
    margin-right: -52em;
    border-radius: 2.5em;
    margin-left: 4em;
    width: 100%;
    height: 90%;
    background-color: var(--background-color);
    padding: 2.3em;
}

main header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main header .icon.search {
    -webkit-mask: url(https://ozcanzaferayan.github.io/financial-crm/icon/search.svg) no-repeat center;
    mask: url(https://ozcanzaferayan.github.io/financial-crm/icon/search.svg) no-repeat center;
}

main header .form-inline {
    display: flex;
    width: 100%;
}

main header input[type="search"] {
    border: none;
    background: none;
    margin-left: 0.5em;
    outline: none;
    font-size: 0.9rem;
    font-weight: 500;
    width: 100%;
    /* -webkit-appearance: none; */
}

main header button {
    display: flex;
    align-items: center;
    background: none;
    border: 2px solid;
    border-color: var(--secondary-color-with-opacity);
    outline: none;
    border-radius: 0.8em;
    padding: .8em 1.2em;
    color: var(--text);
    font-weight: 600;
}

main header button.change-view {
    margin-right: 1.2em;
}

main header button.notification {
    border: none;
}

main header button.menu {
    border: none;
}

main header .change-view .icon {
    margin-right: 0.5em;
}

main header .icon.search {
    -webkit-mask: url(https://ozcanzaferayan.github.io/financial-crm/icon/search.svg) no-repeat center;
    mask: url(https://ozcanzaferayan.github.io/financial-crm/icon/search.svg) no-repeat center;
}

main header section[role="application"] {
    display: flex;
}

main header .icon.layout {
    -webkit-mask: url(https://ozcanzaferayan.github.io/financial-crm/icon/layout.svg) no-repeat center;
    mask: url(https://ozcanzaferayan.github.io/financial-crm/icon/layout.svg) no-repeat center;
}

main header .icon.notification {
    -webkit-mask: url(https://ozcanzaferayan.github.io/financial-crm/icon/bell.svg) no-repeat center;
    mask: url(https://ozcanzaferayan.github.io/financial-crm/icon/bell.svg) no-repeat center;
}

main header .icon.menu {
    -webkit-mask: url(https://ozcanzaferayan.github.io/financial-crm/icon/menu.svg) no-repeat center;
    mask: url(https://ozcanzaferayan.github.io/financial-crm/icon/menu.svg) no-repeat center;
}

main h1 {
    font-size: 3em;
    color: var(--black);
    margin-top: 0;
}

@media screen and (max-width: 768px) {
    /* Tablet (768px) */
    main {
        margin-left: 0;
        border-radius: 0;
        margin: 0;
        padding: 0em;
    }
    main header {
        margin-bottom: 0em;
        padding: 1em;
    }
    main header button.change-view {
        display: none;
    }
    main h1 {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    /* Phone (Large)*/
}

@media screen and (max-width: 320px) {
    /* Phone (Small) */
    main header button {
        padding: 0em 1.2em;
    }
    main header {
        padding: 0.5em 0.7em;
    }
}
/*CHARTS*/.charts-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

main section[role="credit-card"] {
    width: 310px;
    height: 210px;
    background-color: var(--primary-color);
    border-radius: 2em;
    position: relative;
    margin-left: -4em;
    margin-bottom: 1em;
    padding: 2em;
    box-sizing: border-box;
    -webkit-box-shadow: 10px 10px 46px -6px rgba(104, 87, 150, 1);
    -moz-box-shadow: 10px 10px 46px -6px rgba(104, 87, 150, 1);
    box-shadow: 10px 10px 46px -6px rgba(104, 87, 150, 1);
    cursor: pointer;
}

main section[role="credit-card"] img {
    width: 4em;
    height: 100%;
}

main section[role="credit-card"] img.apple_pay {
    width: 3em;
}

main section[role="credit-card"] .top {
    display: flex;
    justify-content: space-between;
}

main section[role="credit-card"] .ccNumber {
    margin-top: 1.3em;
    display: flex;
    justify-content: space-between;
    color: var(--white);
    font-family: monospace;
    font-size: 1.2rem;
}

.ccBottom {
    margin-top: 1.2em;
    display: flex;
    justify-content: space-between;
    color: var(--white);
}

.ccValidThru,
.ccCardHolder {
    display: flex;
    flex-direction: column;
}

.ccCardHolder {
    margin-right: 1em;
}

.ccBottom label {
    opacity: .5;
    font-size: .7em;
}

main section[role="chart"] {
    width: 100%;
    margin-left: 1em;
    height: 18em;
    background-color: var(--white);
    border-radius: 2em;
    margin-bottom: 1em;
    padding: 2em;
    padding-bottom: 5em;
    box-sizing: border-box;
}

section[role="chart"] .title {
    color: var(--black);
    font-weight: 700;
    margin-top: 0;
}

#charts-title{
    display: flex; 
    flex-direction: row;
    margin-top: 0.3em;
}

#chart1-title1{
    font-size: 2.5em;
    color: #1e28e9;
}
#chart1-title2{
    font-size: 2em;
    color: #5B25F5;
}
#chart1-title3{
    font-size: 2em;
    color: #43e91e;
}
#chart1-title4{
    font-size: 2em;
    color: #e91e1e;
}

main section[role="chart"].exchange-rates {
    width: calc(100% - 350px);
}

main section[role="chart"].last-costs {
    width: 400px;
}

main section[role="chart"].efficiency {
    margin-left: 0.5em;
    width: 400px;
}

@media screen and (max-width: 1024px) {
    /* Laptop (1024px) */
    main section[role="chart"].efficiency {
        width: 170px;
    }
    main section[role="chart"].last-costs {
        width: calc(100% - 210px);
    }
}

@media screen and (max-width: 768px) {
    /* Tablet (768px) */
    main section[role="credit-card"] {
        margin-left: 0;
    }
    .charts-wrapper {
        flex-direction: column;
    }
    main section[role="chart"].exchange-rates,
    main section[role="chart"].last-costs,
    main section[role="chart"].efficiency {
        margin-left: 0;
        width: 100%;
        padding: 2em;
        border-radius: 0;
        padding-bottom: 5em;
    }
}

@media screen and (max-width: 500px) {
    main section[role="chart"].exchange-rates,
    main section[role="chart"].last-costs,
    main section[role="chart"].efficiency {
        padding: 0.5em;
        padding-bottom: 3em;
    }
    main section[role="chart"].efficiency {
        margin-bottom: 5em;
    }
}

@media screen and (max-width: 320px) {
    /* Phone (Small) */
    main section[role="credit-card"] {
        width: 100%;
        padding: 0.75em;
        margin-bottom: 0.75em;
        border-radius: 0;
        height: initial;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    main section[role="credit-card"] img {
        width: 2em;
    }
    main section[role="credit-card"] img.apple_pay {
        width: 2em;
    }
    main section[role="credit-card"] .ccNumber {
        margin-top: 0.7em;
    }
    .ccBottom {
        margin-top: 0.7em;
    }
    section[role="chart"] .title {
        margin-bottom: 0.2em;
    }
    main section[role="chart"].exchange-rates,
    main section[role="chart"].last-costs,
    main section[role="chart"].efficiency {
        height: 12em;
    }
}