.asid {
  z-index: 40;
  top: 0;
  bottom: 0;
  top: auto;
  bottom: auto;
  width: 18rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
  --bg-opacity: 1;
  background-color: #fff;
  background-color: rgba(255, 255, 255, var(--bg-opacity))
}

#rounded-full-logo {
  height: 2rem;
  width: 2rem;
  margin-right: .75rem;
  border-radius: 9999px;
  background-color: black;
}

#top-head {
  font-family: 'Arial';
  font-size: 1.875rem;
  font-weight: 600;
  font-style: italic
}

#logo-below {
  font-family: 'Arial';
}

.inset-active-link {
  box-shadow: inset 0.25rem 0 0 0 #805ad5;
}

#Pro-up{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top:.75rem;
  padding-bottom:.75rem;
  padding-left:1rem;
  padding-right:1rem;
  --bg-opacity:1;
  background-color:#e9d8fd;
  background-color:rgba(233,216,253,var(--bg-opacity));
  --bg-opacity:0.5;
  border-radius:.375rem;
  margin-top:auto;
  margin-bottom:2.5rem;
  margin-left:2rem;
  margin-right:2rem;
}

.Pro-text-head{
  font-weight:600;
  --text-opacity:1;
  color:#1a202c;
  color:rgba(26,32,44,var(--text-opacity));
}

#Pro-text{
  --text-opacity:1;
  color:#805ad5;
  color:rgba(128,90,213,var(--text-opacity));
  font-weight:500;
  text-decoration:underline
}

#loan-cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}

.book {
  margin-left: 50px;
  margin-top: 50px;
  position: relative;
  border-radius: 10px;
  width: 300px;
  height: 400px;
  background-color: whitesmoke;
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #000;
  -webkit-transform: preserve-3d;
  -ms-transform: preserve-3d;
  transform: preserve-3d;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #000;
}

.cover1 {
  top: 0;
  position: absolute;
  background-color: lightgray;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.cover1.active {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotatey(-80deg);
  -ms-transform: rotatey(-80deg);
  transform: rotatey(-80deg);
}

.cover1 p {
  font-size: 20px;
  font-weight: bolder;
}

.cover2 {
  top: 0;
  position: absolute;
  background-color: lightgray;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.cover2.active {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotatey(-80deg);
  -ms-transform: rotatey(-80deg);
  transform: rotatey(-80deg);
}

.cover2 p {
  font-size: 20px;
  font-weight: bolder;
}

#cover-inside{
  display: flex; 
  flex-direction: column;
}

#cover-inside h1{
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
}

#cover-inside ul{
  padding: 30px;
}

#cover-inside ul li{
  padding: 10px;
}

