 {{!-- <div class="modal hidden"> --}}
    {{!-- <div>

    
        <button class="btn--close-modal">&times;</button>
        <h2 class="modal__header">
            Open your bank account <br />
            in just <span class="highlight">5 minutes</span>
        </h2>
        <form class="modal__form" method="POST" action="/adduser" novalidate>
            <label>Name</label>
            <input type="text" class="form-control" id="floatingInput" value="{{this.name}}" placeholder="First Name" name="name" />
            <label>Username</label>
            <input type="text" class="form-control" id="floatingInput" value="{{this.username}}" placeholder="First Name" name="username" />
            <label>Contact number</label>
            <input type="text" class="form-control" id="floatingInput" value="{{this.contact_no}}" placeholder="First Name" name="contact_no"/>
              <div class="col-12 d-grid">
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>
        </form>
    </div>
    </div> --}}
    {{!-- <div class="overlay hidden"></div> --}}