<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Account | Cards</title>
    <link rel="shortcut icon" type="image/png" href="img/bank_favicon.png" media="(prefers-color-scheme: light)"/>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="img/new_logo.png"
      media="(prefers-color-scheme: dark)">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.8.10/tailwind.min.css'>
    <link rel="stylesheet" href="css/card.css">
</head>
<body>
    {{{body}}}
</body>

</html>

