<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <link rel="stylesheet" type="text/css" href="css/login.css">
    <link rel="shortcut icon" type="image/png" href="img/bank_favicon.png" media="(prefers-color-scheme: light)"/>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="img/new_logo.png"
      media="(prefers-color-scheme: dark)"
    />
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="css/login.css"> -->
    <title>Login</title>
</head>
<body>
  {{{body}}}
</body>
</html>
